extends nav

block append css
  style
    include ../static/addthemesong.css

block content
    .cont
        div
            h1 Add a New Song
            form#themeForm(action="/addsong/english" method="post")
                input#songid(type="number" name="id" placeholder="Song id" required="")
                br
                input#name(type="text" name="name" placeholder="Song Name" required="")
                br
                input#image(type="text" name="image" placeholder="Image location" required="")
                br
                input#songlength(type="text" name="time" placeholder="Enter duration" required="")
                br
                input#songlink(type="text" name="audioUrl" placeholder="Song location" required="")
                br
                input#songtheme(type="text" name="theme" placeholder="Song theme" required="")
                br
                input#songreleasedate(type="text" name="releasedate" placeholder="Song release date" required="")
                br
                input#malesinger(type="text" name="malesinger" placeholder="Song male singer" required="")
                br
                input#femalesinger(type="text" name="femalesinger" placeholder="Song female singer" required="")
                br
                input.addtheme(type="submit" value="Submit")
