@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
.brand img:hover{
    content: url("img/logo2.png");
    width: 75px;
    padding: 6px;

}
body{
    background-color: bisque;
    background-color:rgb(12, 12, 12);
    

}
nav{
    font-family: 'Inter', sans-serif;
    color: bisque;
    background-color: rgb(19, 19, 19);

}
nav ul{
    display: flex;
    list-style: none;
    height: 90px;
    align-items: center;
    /* justify-content: center; */
    
}
.brand img{
    width: 75px;
    padding: 6px;

}
.brand{
    display: flex;
    align-items:center;
    font-weight:300;
    font-size: 30px;
    margin-right: 36px;
    margin-left: 15px;
    font-family: 'Nova Round', cursive;
    cursor: pointer;
}

.container1 {
    min-height: 71vh;
    font-family: 'Inter', sans-serif;
    color: bisque;
    display: flex;
    flex-direction: column;
    grid-row-end: span 2;
  }
.bottom{
    position: static;
    height: 100px;
    background-color:rgb(19, 19, 19); 
    /* bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    flex-direction: column;
}
#myProgressbar{
    width: 73vw;
    /* text-align: center; */
}
.icons{
    margin-top: 15px;
}
/* .icons i:hover{

} */

.icons i{
    cursor: pointer;
    margin-left:10px ;
    margin-right:10px ;
}

.songitem{
    height: 70px;
    display: flex;
    background-color:rgb(19, 19, 19);
    border-radius: 5px;
    width:100%;
    color: #f5f5dc;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
}
.songitem img{
    width: 50px;
    margin:0 10px ;
    border-radius: 25px;
}
.songlistplay i{
    margin-left: 15px;
}
.songlistplay{
    padding-right:15px;
}
.songlistt h1{
    margin-bottom:25px ;
}
.songlistplay i{
    cursor: pointer;
}
/* .songname img{
    opacity: 0;
    transition: opacity 1s ease-in;
}
.songname{
    position: absolute;
    left: 0px;
    margin-top: 26px;
    margin-left: 16vw;
} */
.songinfo{
    /* position: relative; */
    /* justify-content: end; */
    display: grid;
    row-gap: 10px;
    right: 0px;
    width: 200px;

}
.containers{
    width: 70%;
    margin: 23px auto;
    background-color: rgb(34, 34, 34);
    border-radius: 13px;
    padding: 25px;
    display: grid;
    grid-template-columns: auto  auto;
    grid-gap: 20px 50px;
}
.container2{
    width: 100%;
    /* background-color: #131313; */
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    
}
.gridsongpic{
    /* margin-left: 20%; */
    text-align: center;
    /* border: #D4DCD7; */
    
    
}
.gridsongpic img{
    background-color: #131313;
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.gridsonginfo p{
    margin-top: 10px;
    background-color: #131313;
    padding: 10px;
    border-radius: 8px;
    color: bisque;
    height: 100px;
}
#masterPlay:hover{
    content: url("logo/playchange.png");
    
}
.navv input{
    background-color:#222222;
    border-color: #222222;
    border-radius: 6px;
    width: 250px;
    height: 20px;
    padding: 8px;
    outline: none;
    font-size: large;
    color: bisque;
    margin-left: 834px;
    margin-top: 11px;
}
.navv input:hover{
    border-color: rgb(68, 244, 160);
}
.songitem .splay{
    height: 20px;
    width: 15px;
}
.songitem>span>p{
    padding-left: 10px;
    padding-right: 7px;
    display: block;
    width: 327px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.logout{
    padding-left: 50px;
    margin-left: 1331px;
}
.logout:hover{
    font-weight: bold;
    color:rgb(68, 244, 160);
}
a{
    text-decoration: none;
    color: inherit;
}